@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --primary-color: #ffb22d;
    --off-white: #FFFBEB;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    max-width: 800px;
    margin: auto;
}


hr {
    margin: 2rem 0;
}


.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    text-align: center;
}

.primary-link {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    width: max-content;
    /* min-width: 140px; */
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    display: block;

}

.secondary-link {
    text-decoration: none;
    color: var(--primary-color);
    width: max-content;
    /* min-width: 140px; */
    border: 1px solid var(--primary-color);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    display: block;
    
}

.no-bullets {
    list-style: none;
    margin: 1rem 1rem 1rem -1rem;
}

.list-inline {
    list-style: none;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-style {
    background: var(--primary-color);
    border-style: inset;
    border-bottom-right-radius: 2rem;
    letter-spacing: 0.1rem;
    padding: 1rem 1rem 0rem 1rem;
}

.nav-style .nav-brand {
    font-weight: bolder;
    text-transform: uppercase;
    color: white;

}

.nav-style ul {
    list-style: none;
    text-align: right;
    font-size: medium;
    
}

.nav-style a {
    text-decoration: none;
    color: white;
}

.nav-style li {
    display: inline-block;
    margin-top: 0.5rem;

}

.nav-style .active {
    font-weight: bolder;
    color: red;
    border: 3px solid white;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
}

.hero {
    color: darkgray;
    display: block;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.hero-tag {
    color: var(--primary-color);
    margin-top: 0rem;
}

.hero img {
    margin: auto;
    display: block;
    width: 80%;
    height: auto;
}

.hero h1 {
    margin-bottom: 0rem;
}

.section-normal {
    margin: auto;
    padding: 1rem 2rem;
}

.section-normal h2 {
    text-align: center;
}


.section-offw {
    background: var(--off-white);
    margin: auto;
    padding: 1rem 2rem;
}

.section-offw h2 {
    text-align: center;
}

.footer {
    background: var(--primary-color);
    color: whitesmoke;
    text-align: center;
    padding: 1rem 1rem;
    border-style: outset;
    border-top-left-radius: 2rem;
    margin: auto;
    margin-top: 3rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 0.5rem;
    
}

.footer li {
    display: inline;
    padding: 0rem 0.8rem;
    
}

.footer h5{
    margin-top: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer img {
    max-width: 40px;
}

.projects-list {
    margin: auto;
}

.projects-list p {
    text-align: left;
    margin-right: 1rem;
    
}

.prj-date {
    margin-bottom: -1rem;
    margin-top: -0.7rem;
    font-size: medium;
}

.projects-list a {
    display: inline;
    font-size: small;
    font-weight: bold;
}
.blogs-list p{
    margin-left: 1rem;
    margin-right: 1rem;
}

.blogs {
    margin : 1rem 1rem;
}

.blogs li{
    margin: auto;
}

.blogs p {
    text-align: justify;
    margin: 1rem 2rem;
}

.blogs img {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border: 1px solid var(--primary-color);
}

.next-blog {
    text-decoration: none;
    color: var(--primary-color);
    width: max-content;
    border: 1px solid var(--primary-color);
    padding: 0.1rem 0.1rem;
    border-radius: 0.5rem;
    font-size: medium;
}

.prev-blog {
    text-decoration: none;
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    width: max-content;
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
}